@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  color: hsl(220, 15%, 55%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  border-radius: 16px;
  margin: 160px;
}
img {
  margin-top: 23px;
  border-radius: 16px;
  width: 250px;
}
h1 {
  font-size: 25px;
  color: hsl(218, 44%, 22%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
